.white-title {
  font-family: sans-serif;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  height: 800px;
}
.top-left-title {
  color: red;
  font-family: sans-serif;
}

.first-div {
  background-image: url("./banner.jpeg");
  height: 800px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top-right-sign-in {
  align-items: center;
  justify-content: end;
}
.sign-in {
  display: flex;
  align-items: flex-end;
}
.email-ad {
  display: flex;
  align-items: center;
}

.text-area {
  color: white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.get-started {
  color: white;
  text-align: center;
  font-family: sans-serif;
}
.ebar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color {
  border: none;
  padding: 8px 22px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  background-color: red;
}
.button-1 {
  border: none;
  padding: 8px 22px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  background-color: azure;
}
.button-2 {
  cursor: pointer;
  background-color: red;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;
  border: none;
}
.p-1 {
  font-size: 25px;
}
